footer{
    background: #19110b;
    font-size: 14px;
    color: white;
}

nav{
    padding: 0px 32px;
}

.btn-outline-success {
    color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:hover{
    background-color: chocolate;
    border-color: chocolate;
}

.footer-first{
    border-bottom: 1px solid #392d23;
    padding: 48px 0px;
}

@media screen and (max-width:48rem){
    .footer-first{
        text-align: center;
    }
}

.footer-second{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #392d23;
}

@media screen and (max-width:48rem) {
    .footer-second{
        padding: 0px 2em;
    }

    footer .col{
        padding-bottom: 2rem;
    }
}

@media screen and (max-width:48rem){
    .footer-second-text{
        display: none;
    }
}

.footer-second a{
    text-decoration: none;
    color: white;
}

h2{
    font-weight: 500;
    line-height: 1.2;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.footer-third{
    font-size: 1.125rem;
    font-weight: 300;
    display: none;
}

@media screen and (max-width:48rem){
    .footer-third{
        display: block;
    }
}